

body{
    color: aliceblue;
    background-color:  #15162a;
}
.banner{
    margin: auto;
  width: 45%;
  border: 3px solid black;
  padding:10px;
    height:125px;
}
.center {
background-image: url("./assets/div-bg-mosh.png");
  margin: auto;
  width: 30%;
  border: 3px solid #73AD21;
  padding: 10px;
background-repeat: no-repeat, no-repeat;
background-position: right, left;
    height:489px;
}
img {
        margin: auto;
        height:51px;
    background-color: black;
}
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    margin: auto;
  color: antiquewhite;
}
.desc{
    margin: 20;
}
p {
    margin: 30;
  color: antiquewhite;
}

@media only screen and (max-width: 1040px){
    .banner{
        width: 65%;
        height:220px;
    }
    .center{
        width: 70%;
        height:700px;
    }
}